@use 'themes';
@use 'header';
@use 'app-pane';

$app-bar-height: 20px;

body {
    margin: 0;
}

.container {
    overflow: hidden;
    height: 100vh;
}

.app-bar {
    width: 100%;
    background: themes.$GREY-2;
    border: 1px solid themes.$GREY-4;
    height: $app-bar-height;
}

#main {
    background: themes.$GREY-1;
    height: calc(100vh - (2 * #{$app-bar-height}));
}

.click-icon {
    cursor: pointer;
}